.container-nav {.link-nav:nth-child(2) {color: var(--header-azul);}.link-nav:nth-child(3) {color: var(--azul);}}

.principal {
    padding: 0 100px;
    color: #fff;
    margin-top: 70px;

    .titulo {
        color: var(--verde);
        font-size: 20pt;
        text-align: center;
        margin-bottom: 50px;
    }

    .l {
        font-size: var(--font-size-l);
    }
}